.align{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.styl:hover{
    transform: scale(1.2);
    color: white;
    background-color: green;
}
.sty2{
    border: 1px solid black;
}
.sty2:hover{
    transform: scale(1.1);
    border: 2px solid green;
}
.sty3{
    box-shadow: 5px 5px 7px gray;
    border-radius: 15px;
}