/* contact form section */
.button_sty{
    width: 100%;
    height: 43px;
    text-align: center;
    background-color: green;
    color: white;
    border-radius: 10px;
    transition: transform 0.4s ease;
}
.button_sty:hover{
    transform: scale(0.9);
    color: white;
    background-color: green;
}
.f_border{
    border-radius: 10px;
    border: 2px solid black;
}